<h3>Active Directory Information:</h3>
<dl class="dl-horizontal">
  <dt>Object ID:</dt>
  <dd>{{tenantDetails.objectId}}</dd>
  <dt>Object Type:</dt>
  <dd>{{tenantDetails.objectType}}</dd>
</dl>

<h4>Company Information:</h4>
<dl class="dl-horizontal">
  <dt>Display Name:</dt>
  <dd>{{tenantDetails.displayName}}</dd>
  <dt>Preferred Language:</dt>
  <dd>{{tenantDetails.preferredLanguage}}-{{tenantDetails.countryLetterCode}}</dd>
</dl>

<h4>Verified Domains:</h4>
<div class="callout-panel">
  <ul ng-repeat="domain in tenantDetails.verifiedDomains">
    <li>{{domain.name}}</li>
  </ul>
</div>

<h4>Provisioned Plans:</h4>
<div class="callout-panel">
  <ul ng-repeat="plan in tenantDetails.provisionedPlans">
    <li>{{plan.service}} ({{plan.capabilityStatus}})</li>
  </ul>
</div>