<h3>Users in Current Tenancy</h3>

<table class="table table-striped table-bordered table-condensed table-hover">
  <thead>
    <tr>
      <th>User Principal Name</th>
      <th>Email</th>
      <th>Display Name</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="user in users">
      <td>{{user.userPrincipalName}}</td>
      <td>{{user.mail}}</td>
      <td>{{user.displayName}}</td>
      <td>{{user.givenName}}</td>
      <td>{{user.surname}}</td>
    </tr>
  </tbody>
</table>