<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=10" />
  <title>Azure Graph Web Client SPA</title>
  <link href="Content/bootstrap.css" rel="stylesheet" />
  <link href="Content/App.css" rel="stylesheet" />
</head>
<body ng-app="AzureGraphWebClientSPA">

    <div class="container">
      <div class="navbar navbar-inverse" role="navigation" ng-controller="navbarController">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">Azure Graph API Web Client SPA</a>
        </div>
         <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#/tenancy" ng-show="userInfo.isAuthenticated">Tenancy</a></li>
            <li><a href="#/users" ng-show="userInfo.isAuthenticated">Users</a></li>
            <li><a href="#/groups" ng-show="userInfo.isAuthenticated">Groups</a></li>
            <li><a href="#/userClaims" ng-show="userInfo.isAuthenticated">User Claims</a></li>
          </ul>
          <div id="login" class="pull-right">
            <span style="color:white;" ng-show="userInfo.isAuthenticated">Hello {{userInfo.profile["name"]}}</span>
            <a class="btn btn-link" ng-hide="userInfo.isAuthenticated" ng-click="login()">Login</a>
            <a class="btn btn-link" ng-show="userInfo.isAuthenticated" ng-click="logout()">Logout</a>
          </div>
        </div>
      </div>
  </div>
  
  <div class="container body-content">
    <div id="content-box" ng-view></div>
  </div>
  <script src="Scripts/jquery-2.1.4.js"></script>
  <script src="App/jquery-extensions.js"></script>
  <script src="Scripts/bootstrap.js"></script>
  <script src="Scripts/angular.js"></script>
  <script src="Scripts/angular-route.js"></script>
  <script src="Scripts/angular-sanitize.js"></script>
  <script src="Scripts/adal.min.js"></script>
  <script src="Scripts/adal-angular.min.js"></script>
  <script src="App/App.js"></script>

  <script src="App/services/azureGraphApiService.js"></script>

  <script src="App/controllers/navbarController.js"></script>
  <script src="App/controllers/homeController.js"></script>

  <script src="App/controllers/usersController.js"></script>
  <script src="App/controllers/groupsController.js"></script>
  <script src="App/controllers/tenancyController.js"></script>
  <script src="App/controllers/userClaimsController.js"></script>
</body>
</html>

