<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- update if required -->
    <add key="targetSiteUrl" value="https://YOUR_TENANT.sharepoint.com/" />
    <add key="userName" value="YOUR_USERNAME@YOUR_TENANT.onMicrosoft.com" />
    <add key="password" value="YOUR_PASSWORD" />
  </appSettings>
</configuration>