<div class="row">

  <h2>Demo Home Page</h2>

  @if (CustomAuthenticationManager.UserHasAuthentiated()) {
    <div class="alert alert-info">
      <p>The user has been authenticated.</p>
      <p>Welcome @CustomAuthenticationManager.GetUserName()</p>
    </div>  
  }
  else {
    <div class="alert alert-warning">
      The user is not currently authenticated.
      Click the <b>Sign In </b> link in the upper right corner to begin the authentication process with Azure Active Directory.
    </div>
  }

</div>
