<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Application client ID -->
    <add key="ClientId" value="" />
    <!-- Application redirect URI -->
    <add key="RedirectUri" value="https://lab.powerbi.com/gettoken" />
    <!-- Power BI resource URI -->
    <add key="ResourceUri" value="https://analysis.windows.net/powerbi/api" />
    <!--OAuth2 authority URI -->
    <add key="AuthorityUri" value="https://login.windows.net/common/oauth2/authorize" />
    <!--Power BI datasets URI -->
    <add key="PowerBiApiUri" value="https://api.powerbi.com/v1.0/myorg" />
    <!--Database connection string -->
    <add key="DbConnection" value="Server=labresources.database.windows.net;Database=TailspinToys-US;User Id=readonlyuser;Password=Pass@word1;Connection Timeout=60;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>