.visual-PBI_CV_1F297329_EBD9_43ED_9E6C_798DF0E8D6A6_DEBUG #myTable {
  background-color: black;
  font-size: 32px;
}
.visual-PBI_CV_1F297329_EBD9_43ED_9E6C_798DF0E8D6A6_DEBUG #myTable td {
  background-color: lightyellow;
  color: darkblue;
  padding: 12px;
}
