<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" />
  </startup>
  <appSettings>
    <!-- Update the ClientID and RedirectUri if required -->
    <add key="ClientID" value="bbc4bbc1-ca57-4bb0-a996-4228f49fd09b" />
    <add key="RedirectUri" value="https://localhost/app1234" />
  </appSettings>
</configuration>



