.visual-PBI_CV_75DE18A7_A280_4405_AC95_921191D07CCD_DEBUG #myTable {
  background-color: black;
  font-size: 32px;
}
.visual-PBI_CV_75DE18A7_A280_4405_AC95_921191D07CCD_DEBUG #myTable td {
  background-color: lightyellow;
  color: darkblue;
  padding: 12px;
}
