.visual-viz0200A9F84AED73453DA9150E9CEDDD0E30_DEBUG #myTable {
  background-color: black;
  font-size: 32px;
}
.visual-viz0200A9F84AED73453DA9150E9CEDDD0E30_DEBUG #myTable td {
  background-color: lightyellow;
  color: darkblue;
  padding: 12px;
}
