.visual-viz02C457563F0DCA4FBCA2604886956D8748_DEBUG #myTable {
  background-color: black;
  font-size: 32px;
}
.visual-viz02C457563F0DCA4FBCA2604886956D8748_DEBUG #myTable td {
  background-color: lightyellow;
  color: darkblue;
  padding: 12px;
}
