<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" />
  </startup>
  <appSettings>
    <!-- Update the ClientID and RedirectUri if required -->
    <add key="ClientID" value="ddfd8af2-1115-4417-9290-c3792de968ba" />
    <add key="RedirectUri" value="https://localhost/CampaignContributionsDemo" />
  </appSettings>
</configuration>



